html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: #e4e4db;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background: url("../public/images/terrazzo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container .hiddenSVG {
  display: none;
}

.container main {
  padding: 0rem 0rem 0rem 0rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main .marqueeWrapper {
  position: relative;
  height: 600px;
  z-index: 999;
}

.container main .marqueeWrapper .marquee {
  position: relative;
  display: block;
  width: 100vw;
  height: 600px;
  background: #F2EADD;
  background-position: 0% 90%;
  margin-bottom: 2em;
  background-size: 110%;
  background-repeat: no-repeat;
  z-index: 9;
}

.container main .marqueeWrapper .OTLLogoContainer {
  visibility: hidden;
  position: absolute;
  height: 325px;
  width: 325px;
  z-index: 9;
  top: 15%;
  right: 27%;
}

.container main .marqueeWrapper .OTLLogoContainer .drawing {
  position: relative;
  z-index: 1;
}

.container main .marqueeWrapper .OTLLogoContainer .circle {
  position: absolute;
  z-index: 2;
  height: 90%;
  width: 90%;
  top: 67.2%;
  left: 5.3%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.container main .marqueeWrapper .OTLLogoContainer .LOFTStext {
  z-index: 3;
  position: absolute;
  top: 49%;
  left: 52.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #332521;
  font-size: 4.8em;
  font-family: "TS Stamp", sans-serif;
}

.container main .marqueeWrapper .OTLLogoContainer svg {
  position: absolute;
  width: 120%;
  height: 120%;
  top: 47.5%;
  left: 51.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 4;
}

.container main .marqueeWrapper .OTLLogoContainer svg .OLDtext,
.container main .marqueeWrapper .OTLLogoContainer svg .TOWNtext {
  font-size: 0.6em;
  fill: #332521;
}

.container main .marqueeWrapper .OTLLogoContainer svg .OLDtext {
  font-family: "TS Rough";
}

.container main .marqueeWrapper .OTLLogoContainer svg .TOWNtext {
  font-family: "TS Stamp";
}

.container main .marqueeWrapper .quoteContainer {
  visibility: hidden;
  font-family: "Domaine Semi Italic";
  font-size: 2em;
  position: absolute;
  top: 45%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #243250;
}

.container main .marqueeWrapper .quoteContainer .OTLQuoteLine1 {
  -webkit-transform: skew(-0.12rad);
          transform: skew(-0.12rad);
}

.container main .marqueeWrapper .quoteContainer .OTLQuoteLine2 {
  -webkit-transform: skew(-0.12rad);
          transform: skew(-0.12rad);
  padding-left: 95px;
}

.container main .marqueeWrapper .KCContainer {
  position: absolute;
  top: 49%;
  right: 19.5%;
  width: 225px;
  height: auto;
  z-index: 10;
}

.container main .marqueeWrapper .KCContainer .KCtext2,
.container main .marqueeWrapper .KCContainer .KCtext {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5.5em;
}

.container main .marqueeWrapper .KCContainer .KCtext {
  top: 47%;
  left: 51%;
  color: #f07a30;
  font-family: "Prismatic Base", sans-serif;
}

.container main .marqueeWrapper .KCContainer .KCtext:before, .container main .marqueeWrapper .KCContainer .KCtext:after {
  content: attr(data-heading);
  position: absolute;
  font-weight: normal;
  text-shadow: none;
  width: 100%;
}

.container main .marqueeWrapper .KCContainer .KCtext:after {
  color: #bd3627;
  font-family: "Prismatic Bottom";
  left: 0;
  top: 1px;
}

.container main .marqueeWrapper .KCContainer .KCtext:before {
  color: #fff334;
  font-family: "Prismatic Top";
  left: 0;
  top: -1px;
}

.container main .marqueeWrapper .KCContainer .KCtext2 {
  top: 47.9%;
  left: 51.1%;
  color: #ed463a;
  font-family: "Prismatic Right";
}

.container main .marqueeWrapper a.buttonContainer {
  position: absolute;
  background-color: #6b7f88;
  padding: 10px 12px 10px 27px;
  border-radius: 0.5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -5%;
  left: 50%;
  text-decoration: none;
  -webkit-transform: translate(-50%, 10%) scale(1);
          transform: translate(-50%, 10%) scale(1);
  letter-spacing: .03em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12), inset 0 1px 1px #e2cec823, inset 0 -1px 1px #47413f4f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12), inset 0 1px 1px #e2cec823, inset 0 -1px 1px #47413f4f;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0;
  font-size: 18px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
  z-index: 11;
}

.container main .marqueeWrapper a.buttonContainer:focus {
  outline: 0;
}

.container main .marqueeWrapper a.buttonContainer:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.container main .marqueeWrapper a.buttonContainer:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

.container main .marqueeWrapper a.buttonContainer:hover {
  background: #608697;
  cursor: pointer;
}

.container main .marqueeWrapper a.buttonContainer:hover .svgArrow {
  -webkit-transform: translate(0%, 7%);
          transform: translate(0%, 7%);
}

.container main .marqueeWrapper a.buttonContainer:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.container main .marqueeWrapper a.buttonContainer:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.container main .marqueeWrapper a.buttonContainer:visited {
  color: #e2cec8;
}

.container main .marqueeWrapper a.buttonContainer span {
  position: relative;
  font-family: "Antikor", sans-serif;
  color: #e2cec8;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  bottom: -2px;
}

.container main .marqueeWrapper a.buttonContainer .svgArrow {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 45px;
  width: auto;
  position: relative;
}

.container main .marqueeWrapper a.buttonContainer .svgArrow path {
  fill: #e2cec8;
}

.container main .marqueeWrapper .transitionGradient {
  width: 100vw;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 300px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 31, 32, 0)), color-stop(18.5%, rgba(35, 31, 32, 0.078)), color-stop(34.1%, rgba(35, 31, 32, 0.154)), color-stop(47.2%, rgba(35, 31, 32, 0.23)), color-stop(57.9%, rgba(35, 31, 32, 0.304)), color-stop(66.6%, rgba(35, 31, 32, 0.377)), color-stop(73.5%, rgba(35, 31, 32, 0.448)), color-stop(78.9%, rgba(35, 31, 32, 0.518)), color-stop(83.1%, rgba(35, 31, 32, 0.586)), color-stop(86.3%, rgba(35, 31, 32, 0.652)), color-stop(88.7%, rgba(35, 31, 32, 0.716)), color-stop(90.8%, rgba(35, 31, 32, 0.778)), color-stop(92.7%, rgba(35, 31, 32, 0.837)), color-stop(94.7%, rgba(35, 31, 32, 0.894)), color-stop(97%, rgba(35, 31, 32, 0.949)), to(#231f20));
  background: linear-gradient(to bottom, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.078) 18.5%, rgba(35, 31, 32, 0.154) 34.1%, rgba(35, 31, 32, 0.23) 47.2%, rgba(35, 31, 32, 0.304) 57.9%, rgba(35, 31, 32, 0.377) 66.6%, rgba(35, 31, 32, 0.448) 73.5%, rgba(35, 31, 32, 0.518) 78.9%, rgba(35, 31, 32, 0.586) 83.1%, rgba(35, 31, 32, 0.652) 86.3%, rgba(35, 31, 32, 0.716) 88.7%, rgba(35, 31, 32, 0.778) 90.8%, rgba(35, 31, 32, 0.837) 92.7%, rgba(35, 31, 32, 0.894) 94.7%, rgba(35, 31, 32, 0.949) 97%, #231f20 100%);
}

.container main .cardsCorpus {
  width: 79vw;
  height: 100%;
  margin-top: 10em;
}

.container main .cardsCorpus div .my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card {
  /* Style your items */
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
  border-radius: 8px;
  background: transparent;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.08), inset 0 -1px 1px 0px #00000023;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.08), inset 0 -1px 1px 0px #00000023;
  height: auto;
  width: 100%;
  z-index: 2;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0px;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a .imageContainer {
  position: relative;
  width: 100%;
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: inset 0 1px 1px 0px #ffffff73;
          box-shadow: inset 0 1px 1px 0px #ffffff73;
  z-index: 1;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a .imageContainer .imgTransition {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: -8px;
  left: 0px;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a .descriptionContainer {
  position: relative;
  padding: 16px;
  left: 5px;
  bottom: 0px;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a .descriptionContainer .building {
  color: #332521;
  font-family: "Ivar", sans-serif;
  font-size: 1.8em;
}

.container main .cardsCorpus div .my-masonry-grid .my-masonry-grid_column .card a .descriptionContainer .district {
  color: #b4b3b3;
  font-family: "Antikor", sans-serif;
  font-size: .7em;
  text-transform: uppercase;
}

.container main .cardsCorpus::before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 65px;
  visibility: hidden;
  pointer-events: none;
}

footer {
  width: 100%;
  margin-top: 3em;
}

footer .footerSVG {
  display: block;
  width: 100%;
}

footer .footerSVG path {
  fill: #191815;
}

footer .footerContent {
  width: 100%;
  display: block;
  height: 575px;
  background-color: #191815;
  padding: 25px 0vw;
  color: #e2cec8;
}

footer .footerContent h1 {
  padding-right: 12.5vw;
  padding-left: 13vw;
  font-size: 4em;
  -webkit-margin-after: 0.2em;
          margin-block-end: 0.2em;
  -webkit-margin-before: 0.2em;
          margin-block-start: 0.2em;
  font-family: "Ivar", serif;
  letter-spacing: 0.05em;
  font-weight: normal !important;
}

footer .footerContent .contact {
  font-family: "Antikor", sans-serif;
  background: #141411;
  border-radius: 18px;
  width: 79vw;
  height: 300px;
  margin-right: 10.5vw;
  margin-left: 10.5vw;
  padding: 2em 2em;
  position: relative;
}

footer .footerContent .contact .eho {
  position: absolute;
  bottom: 16px;
  left: 40px;
  width: 70px;
  height: auto;
}

footer .footerContent .contact .contactContainer {
  width: 40%;
}

footer .footerContent .contact .contactContainer .contactRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerContent .contact .contactContainer .contactRow .left {
  text-align: left;
}

footer .footerContent .contact .contactContainer .contactRow .right {
  text-align: left;
}

footer .footerContent .contact .appButton {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #e2cec8;
  text-decoration: none;
  position: absolute;
  background-color: #797574;
  padding: 10px 20px 10px 25px;
  border-radius: 0.5em;
  text-decoration: none;
  height: 65px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.178), 0 2px 2px rgba(0, 0, 0, 0.178), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.1), 0 16px 20px rgba(0, 0, 0, 0.05), inset 0 1px 1px #e2cec831, inset 0 -1px 1px #47413f4f;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.178), 0 2px 2px rgba(0, 0, 0, 0.178), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.1), 0 16px 20px rgba(0, 0, 0, 0.05), inset 0 1px 1px #e2cec831, inset 0 -1px 1px #47413f4f;
}

footer .footerContent .contact .appButton:focus {
  outline: 0;
}

footer .footerContent .contact .appButton:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

footer .footerContent .contact .appButton:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}

footer .footerContent .contact .appButton:hover {
  background: #6b7f88;
  cursor: pointer;
}

footer .footerContent .contact .appButton:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .footerContent .contact .appButton:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .footerContent .contact .appButton:visited {
  color: #e2cec8;
}

footer .footerContent .contact .appButton:visited {
  color: #e2cec8;
}

footer .footerContent .contact .appButton span {
  position: relative;
  font-family: "Antikor", sans-serif;
  color: #e2cec8;
  font-size: 1.1em;
  bottom: -2px;
}

footer .footerContent .contact .appButton .appImg {
  -webkit-filter: sepia(0.4);
          filter: sepia(0.4);
  height: 35px;
  width: auto;
  padding-left: 5px;
}

footer .footerContent .subFooter {
  width: 79vw;
  height: 80px;
  padding: 25px 0px;
  margin-right: 10.5vw;
  margin-left: 10.5vw;
}

footer .footerContent .subFooter img {
  height: 70px;
  width: auto;
  margin-right: 25px;
}

footer .footerContent .freepikContainer > *,
footer .footerContent .freepikContainer {
  display: inline;
  font-family: "Antikor", sans-serif;
  padding: 9px;
  text-decoration: none;
  color: #5f5f5f;
}

footer .footerContent .freepikContainer > *:visited,
footer .footerContent .freepikContainer:visited {
  color: #5f5f5f;
}

footer .footerContent .freepikContainer {
  position: relative;
  margin-right: 10.5vw;
  margin-left: 10.5vw;
  width: 79vw;
  padding: 25px;
  margin-top: 1em;
  top: 15px;
  font-size: .8em;
  color: #5f5f5f;
}

footer .footerContent .freepikContainer a.freepik {
  color: #5f5f5f !important;
  text-decoration: none;
}

footer .footerContent .freepikContainer a.freepik:visited {
  color: #5f5f5f;
  text-decoration: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

img {
  max-width: 100%;
  display: block;
}

@-webkit-keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}

@font-face {
  font-family: "Antikor";
  src: url("./fonts/Antikor_Text_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ivar";
  src: url("./fonts/IvarDisplayCondensed-Light.woff") format("woff");
}

@font-face {
  font-family: "TS Rough";
  src: url("./fonts/TradesmithRough.otf") format("opentype");
}

@font-face {
  font-family: "TS Stamp";
  src: url("./fonts/TradesmithStamp.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Base";
  src: url("./fonts/Prismatic-Base.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Top";
  src: url("./fonts/Prismatic-Top.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Bottom";
  src: url("./fonts/Prismatic-Bottom.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Right";
  src: url("./fonts/Prismatic-Right.otf") format("opentype");
}

@font-face {
  font-family: "Domaine";
  src: url("./fonts/DomaineDisplayCondensedTest-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Domaine Italic";
  src: url("./fonts/DomaineDisplayCondensedTest-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Domaine Semi";
  src: url("./fonts/DomaineDisplayCondensedTest-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Domaine Semi Italic";
  src: url("./fonts/DomaineDisplayCondensedTest-SemiboldItalic.otf") format("opentype");
}
/*# sourceMappingURL=global.css.map */