@import url("https://fonts.googleapis.com/css2?family=Alata&family=Karla:wght@400;700&display=swap");
$greyscale: 40%;
$btnTxtClr: #e2cec8;
$shadow: #6c708f;
$footerColor: rgb(219, 219, 219);

$background: rgb(244, 244, 231);
$logoBG: #e8e4c9;
$bgClr: #e4e2d2;
@mixin deets($left, $top, $blur, $opacity) {
  $_top: $top + 1;
  $_left: $left;
  filter: blur(#{$blur}px);
  top: #{$_top}px;
  left: -#{$_left}px;
  opacity: $opacity;
}
@mixin glow($color, $glow) {
  $all: ();
  $all: append($all, -1px 1px 0 rgba($color, 0.1), comma);
  $all: append($all, 1px -1px 0 rgba($glow, 0.5), comma);
  $all: append($all, 0px 0px 25px rgba($glow, 0.9), comma);
  box-shadow: $all;
}
@mixin shadow2($color, $steps, $glow) {
  $all: ();
  $all: append($all, 0px 1px 0 rgba($color, 0), comma);
  // $all: append($all, 1px -1px 0 rgba($glow, 0.5), comma);
  $all: append($all, 1px 1px 20px rgba($glow, 0.7), comma);
  @for $i from 1 through $steps {
    $all: append(
      $all,
      append($i * -1px $i * 1.9px $i * 1px, rgba($color, 1.5 / $i))
    );
  }
  box-shadow: $all;
}
@mixin shadow($color, $steps, $glow) {
  $all: ();
  $all: append($all, 0px 1px 0 rgba($color, 0), comma);
  // $all: append($all, 1px -1px 25px $glow, comma);
  @for $i from 1 through $steps {
    $all: append(
      $all,
      append($i * -1px $i * 1.9px $i * 1px, rgba($color, 1.5 / $i))
    );
  }
  box-shadow: $all;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: darken($logoBG, 10%);
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: $background;
  background-image: url("../public/images/terrazzo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .navBar {
    background-color: darken($logoBG, 5%);
    // position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
    z-index: 15;
    border-bottom: 7px solid darken($logoBG, 8%);
    border-top: 8px solid darken($logoBG, 10%);
    @include shadow(darken(#e4e2d2, 2%), 5, transparent);
    display: inline-flex;
    padding-left: 30px;
    padding-right: 30px;
    height: 90px;
    a.contactButton {
      font-family: "Alata", sans-serif;
      // border-radius: 30px;
      font-size: 1.3em;
      padding: 10px 25px;
      line-height: 130%;
      background-image: url("../public/backticket.svg");
      color: rgb(253, 250, 216);
      @mixin angledshadow($color, $steps) {
        $all: ();
        $all: append($all, 1px 1px $color, comma);
        @for $i from 2 through $steps {
          $all: append($all, append($i * 1px $i * 1px, $color));
        }
        text-shadow: $all;
      }
      @include angledshadow(#7b8750, 60);
      position: absolute;
      right: 40px;
      top: 47px;
      transform: translateY(-50%);
      letter-spacing: 0.04em;
      transition: all 0.3s ease;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 52px;
      width: 175px;
      overflow: hidden;
      &:hover {
        color: rgb(247, 246, 229);

        svg {
          fill: yellow;
        }
      }
    }
    .brickwallContainer {
      display: none;
      display: inline-flex;
      align-self: center;
      .brickwall {
        width: 32px;
        height: auto;
      }
    }

    .OTLText {
      color: #3f3525;
      font-size: 2.5em;
      padding-bottom: 21px;
      padding-top: 18px;
      padding-left: 25px;
      padding-right: 1em;
      font-family: "TS Stamp";
      line-height: 95%;
      letter-spacing: 0.03em;
      z-index: 13;
      .middle {
        font-family: "TS Rough";
      }
    }
    a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 15px;
      text-decoration: none;
    }
  }
  main {
    padding: 0rem 0rem 0rem 0rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .marqueeWrapper {
      position: relative;
      height: 600px;
      z-index: 11;
      .welcome {
        color: lighten(#f0eede, 3%);
        position: absolute;
        font-size: 13em;
        font-family: "Alata";
        top: 20px;
        left: 50px;
        z-index: 3;
      }
      .marquee {
        position: relative;
        display: block;
        width: 100vw;
        height: 700px;
        background-color: #f0eede;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 2em;
        background-size: 110%;
        background-repeat: no-repeat;
        z-index: 2;
        backdrop-filter: hue-rotate(120%);
      }

      a.buttonContainer {
        position: absolute;
        background: rgb(63, 61, 28);
        padding: 10px 12px 10px 27px;
        border-radius: 0.5em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        bottom: -22%;
        left: 50%;
        text-decoration: none;
        transform: translate(-50%, 0%);
        letter-spacing: 0.03em;
        @include shadow2(darken(rgb(245, 245, 236), 30%), 4, white);
        transition: all 0.4s ease;
        font-size: 18px;
        overflow: hidden;
        z-index: 5;
        span {
          position: relative;
          font-family: "Alata", sans-serif;
          color: darken($logoBG, 5%);
          font-size: 1.3em;
          width: 100%;
          height: 100%;
          // bottom: -2px;
        }
        .svgArrow {
          transform: translate(0%, 0%);
          opacity: 1;
          //   animation: scatter 1.75s infinite;
          transition: all 0.5s ease;
          height: 45px;
          width: auto;
          position: relative;
          path {
            fill: rgb(151, 119, 76);
          }
        }
        &:focus {
          outline: 0;
        }
        &:hover {
          // cursor: pointer;
          @include shadow2(darken(rgb(245, 245, 236), 30%), 10, white);
        }
        &:visited {
          color: $btnTxtClr;
        }
        &:focus {
          outline: 0;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255, 255, 255, 0.5);
          width: 60px;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0.5;
          filter: blur(30px);
          transform: translateX(-100px) skewX(-15deg);
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255, 255, 255, 0.2);
          width: 30px;
          height: 100%;
          left: 30px;
          top: 0;
          opacity: 0;
          filter: blur(5px);
          transform: translateX(-100px) skewX(-15deg);
        }
        &:hover {
          background: rgb(83, 81, 37);
          cursor: pointer;
          &:before {
            transform: translateX(300px) skewX(-15deg);
            opacity: 0.6;
            transition: 0.7s;
          }
          &:after {
            transform: translateX(300px) skewX(-15deg);
            opacity: 1;
            transition: 0.7s;
          }
        }
      }
    }
    .cardsCorpus {
      width: 79vw;
      height: 100%;
      margin-top: 10em;
      div {
        .my-masonry-grid {
          display: -webkit-box; /* Not needed if autoprefixing */
          display: -ms-flexbox; /* Not needed if autoprefixing */
          display: flex;
          margin-left: -30px; /* gutter size offset */
          width: auto;
          .my-masonry-grid_column {
            padding-left: 30px; /* gutter size */
            background-clip: padding-box;
            .card {
              /* Style your items */ /* change div to reference your elements you put in <Masonry> */
              margin-bottom: 30px;
              border-radius: 8px;
              background: transparent;
              overflow: hidden;
              // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075),
              //   0 2px 2px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.065),
              //   0 8px 8px rgba(0, 0, 0, 0.06), 0 16px 16px rgba(0, 0, 0, 0.055);
              height: auto;
              width: 100%;
              z-index: 88;
              transition: all 0.4s ease;
              -webkit-transform: translateZ(0);
              transform: translateY(0%);
              @include shadow(darken(rgb(245, 245, 236), 16%), 4, white);
              &:hover {
                @include shadow(darken(rgb(245, 245, 236), 16%), 10, white);
                // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08),
                //   0 2px 2px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08),
                //   0 8px 10px rgba(0, 0, 0, 0.08),
                //   0 16px 20px rgba(0, 0, 0, 0.08);
                transform: translateY(0%);
                // a {
                //   .imageContainer {
                //     transform: scale(1.03);
                //   }
                // }
              }
              a {
                position: relative;
                cursor: pointer;
                width: 100%;
                height: 100%;
                top: 0px;
                .imageContainer {
                  position: relative;
                  width: 100%;
                  margin: 0px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  transform: scale(1);
                  transition: 0.4s;
                  z-index: 1;
                  .imgTransition {
                    position: absolute;
                    width: 100%;
                    height: 100px;
                    bottom: -8px;
                    left: 0px;
                  }
                }
                .descriptionContainer {
                  position: relative;
                  padding: 16px;
                  left: 5px;
                  bottom: 0px;
                  .building {
                    color: #332521;
                    font-family: "Alata", sans-serif;
                    font-size: 1.4em;
                  }
                  .district {
                    color: rgb(102, 102, 102);
                    font-family: "Antikor", sans-serif;
                    font-size: 0.7em;
                    text-transform: uppercase;
                  }
                }
              }
            }
          }
        }
      }
      &::before {
        display: block;
        content: " ";
        margin-top: -40px;
        height: 65px;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}

footer {
  width: 100%;
  margin-top: 3em;

  .footerContent {
    width: 100%;
    display: block;
    height: 500px;
    padding: 25px 0vw;
    .contact {
      font-family: "Antikor", sans-serif;
      background-color: $logoBG;
      color: rgb(56, 56, 56);
      // border-radius: 18px;
      border: 7px solid darken($logoBG, 3%);
      width: 79vw;
      height: 300px;
      margin-right: 10.5vw;
      margin-left: 10.5vw;
      padding: 2.7em 2em 2em 2em;
      position: relative;
      z-index: 2;

      h1 {
        position: relative;
        padding-right: 9px;
        font-size: 2.7em;
        margin-top: -0.8em;
        margin-block-end: 0.2em;
        font-family: "Alata", serif;
        letter-spacing: 0.01em;
        font-weight: normal !important;
        color: #332521;
        // background: yellow;
        width: 147px;
        z-index: 3;
      }
      .eho {
        position: absolute;
        bottom: 18px;
        left: 30px;
        width: 70px;
        height: auto;
      }
      .contactContainer {
        width: 40%;
        position: relative;
        left: 3px;

        .contactRow {
          width: 100%;
          display: flex;
          margin-bottom: 1em;
          justify-content: space-between;
          .left {
            text-align: left;
            text-transform: uppercase;
          }
          .right {
            text-align: left;
          }
        }
      }

      .appButton {
        position: absolute;
        bottom: 16px;
        right: 16px;
        color: $btnTxtClr;
        text-decoration: none;
        position: absolute;
        background: rgb(63, 61, 28);
        padding: 10px 20px 10px 25px;
        border-radius: 0.5em;
        text-decoration: none;
        height: 65px;
        transition: all 0.4s ease;
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transform: translate(0%, 0%);
        // box-shadow: -1px 1.9px 1px #b4af82, -2px 3.8px 2px #b4af82,
        //   -3px 5.7px 3px rgba(180, 175, 130, 0.6666666667),
        //   -4px 7.6px 4px rgba(180, 175, 130, 0.5);
        @include shadow2(darken(hsla(53, 27%, 87%, 1), 20%), 4, white);
        &:focus {
          outline: 0;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255, 255, 255, 0.5);
          width: 60px;
          height: 100%;
          left: 0;
          top: 0;
          opacity: 0.5;
          filter: blur(30px);
          transform: translateX(-100px) skewX(-15deg);
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          background: rgba(255, 255, 255, 0.2);
          width: 30px;
          height: 100%;
          left: 30px;
          top: 0;
          opacity: 0;
          filter: blur(5px);
          transform: translateX(-100px) skewX(-15deg);
        }
        &:hover {
          background: rgb(83, 81, 37);
          // transform: translate(0%, -6%);
          @include shadow2(darken(hsla(53, 27%, 87%, 1), 20%), 10, white);
          // box-shadow: -1px 1px 0 rgba(180, 175, 130, 0.1),
          //   1px -1px 0 rgba(255, 255, 255, 0.08),
          //   -1px 1px 0 rgba(255, 255, 255, 0.08),
          //   0px 0px 25px rgba(255, 255, 255, 0.4), -1px 1.9px 1px #b4af82,
          //   -2px 3.8px 2px #b4af82,
          //   -3px 5.7px 3px rgba(180, 175, 130, 0.6666666667),
          //   -4px 7.6px 4px rgba(180, 175, 130, 0.5),
          //   -5px 9.5px 5px rgba(180, 175, 130, 0.4),
          //   -6px 11.4px 6px rgba(180, 175, 130, 0.3333333333),
          //   -7px 13.3px 7px rgba(180, 175, 130, 0.2857142857),
          //   -8px 15.2px 8px rgba(180, 175, 130, 0.25),
          //   -9px 17.1px 9px rgba(180, 175, 130, 0.2222222222),
          //   -10px 19px 10px rgba(180, 175, 130, 0.2),
          //   -11px 20.9px 11px rgba(180, 175, 130, 0.1818181818),
          //   -12px 22.8px 12px rgba(180, 175, 130, 0.1666666667),
          //   -13px 24.7px 13px rgba(180, 175, 130, 0.1538461538);
          &:before {
            transform: translateX(300px) skewX(-15deg);
            opacity: 0.6;
            transition: 0.7s;
          }
          &:after {
            transform: translateX(300px) skewX(-15deg);
            opacity: 1;
            transition: 0.7s;
          }
        }
        &:visited {
          color: $btnTxtClr;
        }
        &:visited {
          color: $btnTxtClr;
        }
        span {
          position: relative;
          font-family: "Alata", sans-serif;
          color: $btnTxtClr;
          font-size: 1.1em;
          letter-spacing: 0.03em;
        }
        .appImg {
          // filter: sepia(0.4);
          height: 30px;
          width: auto;
          padding-left: 10px;
        }
      }
    }
    .subFooter {
      width: 79vw;
      height: 80px;
      padding: 25px 0px;
      margin-right: 10.5vw;
      margin-left: 10.5vw;
      img {
        height: 70px;
        width: auto;
        margin-right: 25px;
      }
    }
    .freepikContainer > *,
    .freepikContainer {
      display: inline;
      font-family: "Antikor", sans-serif;
      padding: 9px;
      text-decoration: none;
      color: rgb(156, 156, 156);
      &:visited {
        color: rgb(95, 95, 95);
      }
    }
    .freepikContainer {
      position: relative;
      margin-right: 10.5vw;
      margin-left: 10.5vw;
      width: 79vw;
      padding: 25px;
      margin-top: 1em;
      top: 15px;
      font-size: 0.8em;
      color: rgb(156, 156, 156);
      a.freepik {
        color: rgb(156, 156, 156) !important;
        text-decoration: none;
        &:visited {
          color: rgb(156, 156, 156);
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

img {
  max-width: 100%;
  display: block;
}
@keyframes scatter {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
// ⭐ ----- FONTS ----- ⭐

@font-face {
  font-family: "Antikor";
  src: url("./fonts/Antikor_Text_Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ivar";
  src: url("./fonts/IvarDisplayCondensed-Light.woff") format("woff");
}
@font-face {
  font-family: "TS Rough";
  src: url("./fonts/TradesmithRough.otf") format("opentype");
}

@font-face {
  font-family: "TS Stamp";
  src: url("./fonts/TradesmithStamp.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Base";
  src: url("./fonts/Prismatic-Base.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Top";
  src: url("./fonts/Prismatic-Top.otf") format("opentype");
}

@font-face {
  font-family: "Prismatic Bottom";
  src: url("./fonts/Prismatic-Bottom.otf") format("opentype");
}
@font-face {
  font-family: "Prismatic Right";
  src: url("./fonts/Prismatic-Right.otf") format("opentype");
}
$animationLength: 0.9s;
@mixin deets($left, $top, $blur, $opacity) {
  $_top: $top + 1;
  $_left: $left;
  filter: blur(#{$blur}px);
  top: #{$_top}px;
  left: -#{$_left}px;
  opacity: $opacity;
}
.parentCardContainer {
  position: absolute;
  top: 22%;
  left: 12%;
  z-index: 5;
}
.cardContainer {
  width: 525px;
  height: 340px;
  transform: translate3d(0, 850px, 0);
  animation-timing-function: cubic-bezier(0.37, 0.71, 0.42, 0.99);
  animation-duration: $animationLength;
  animation-fill-mode: forwards;
  animation-name: cardMove;
  .shadow,
  .bizCard {
    animation-timing-function: cubic-bezier(
      0.37,
      0.71,
      0.42,
      0.99
    ); //or ease-out
    animation-duration: $animationLength;
    animation-fill-mode: forwards;
  }
  .shadow {
    background: transparent;
    height: 340px;
    width: auto;
    position: absolute;
    transform-origin: center;
    fill: #b4af82;
    opacity: 1;
  }
  .bizCard {
    width: 455px;
    height: 270px;
    background-image: linear-gradient(15deg, #e4e2d2 0%, #f0eedf 100%);
    position: absolute;
    transform-origin: center;
    display: block;
    left: 35px;
    top: 35px;
    z-index: 2;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
    animation-name: cardSpin, cardChanges;
    .quoteBox {
      width: 200px;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background: #292302;
      background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
      opacity: 1;
      z-index: 10;
      animation: colorChange 0.2s linear;
      animation-fill-mode: forwards;
    }
    .innerFrame {
      height: calc(100% - 50px);
      width: calc(100% - 50px);
      border: 1px solid rgb(194, 186, 136);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 8;
    }
    .corner {
      position: absolute;
      z-index: 9;
    }
    .TL {
      top: 13px;
      left: 13px;
      background-color: #ebe9d9;
    }
    .TR {
      top: 13px;
      right: 12px;
      transform: rotate(90deg);
      background-color: #eeeddd;
    }
    .BL {
      bottom: 12px;
      left: 13px;
      transform: rotate(270deg);
      background: #e3e3d2;
    }
    .BR {
      bottom: 12px;
      right: 12px;
      transform: rotate(180deg);
      background: #e4e5d3;
    }
  }
}

._1 {
  @include deets(1, 1.9, 1, 1);
  animation-name: cardSpin;
}
._2 {
  @include deets(2, 3.8, 2, 1);
  animation-name: cardSpin;
}
._3 {
  @include deets(3, 5.7, 3, 0.6666666667);
  animation-name: cardSpin, disappear;
}
._4 {
  @include deets(4, 7.6, 4, 0.5);
  animation-name: disappear, cardSpin;
}
._5 {
  @include deets(5, 9.5, 5, 0.4);
  animation-name: disappear, cardSpin;
}
._6 {
  @include deets(6, 11.4, 6, 0.33333333333);
  animation-name: disappear, cardSpin;
}
._7 {
  @include deets(7, 13.3, 7, 0.2857142857);
  animation-name: disappear, cardSpin;
}
._8 {
  @include deets(8, 15.2, 8, 0.25);
  animation-name: disappear, cardSpin;
}
._9 {
  @include deets(9, 17.9, 9, 0.2222222222);
  animation-name: disappear, cardSpin;
}
._10 {
  @include deets(10, 19, 10, 0.2);
  animation-name: disappear, cardSpin;
}
._11 {
  @include deets(11, 20.9, 11, 0.1818181818);
  animation-name: disappear, cardSpin;
}
._12 {
  @include deets(12, 22.8, 12, 0.1666666667);
  animation-name: disappear, cardSpin;
}
._13 {
  @include deets(13, 24.7, 13, 0.1538461538);
  animation-name: disappear, cardSpin;
}
._14 {
  @include deets(14, 26.6, 14, 0.1428571429);
  animation-name: disappear, cardSpin;
}
._15 {
  @include deets(15, 28.5, 15, 0.1333333333);
  animation-name: disappear, cardSpin;
}
// ORDER IS (LEFT(negative), TOP, BLUR, OPACITY)
//   -1px 1px 0 rgba(180, 175, 130, 0.1)

@keyframes cardMove {
  to {
    transform: translate3d(0, 20px, 0);
  }
}
@keyframes colorChange {
  to {
    background: transparent;
    opacity: 0.7;
  }
}
@keyframes cardSpin {
  to {
    transform: rotate(355deg);
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}
@keyframes cardChanges {
  to {
    box-shadow: -1px 1px 0 rgba(180, 175, 130, 0.1),
      1px -1px 0 rgba(255, 255, 255, 0.08), -1px 1px 0 rgba(255, 255, 255, 0.08),
      0px 0px 20px rgba(255, 255, 255, 0.5);
  }
}
